.place__grid {
	width: 76.88%;
	display: grid;
	grid-template-columns: 460px 1fr;
	column-gap: 40px;
	row-gap: 48px;
}

@media (max-width: 1024px) {
	.place__grid {
		grid-template-columns: 440px 1fr;
		column-gap: 32px;
		width: 90.625%;
	}
}

@media (max-width: 768px) {
	.place__grid {
		grid-template-columns: 340px 1fr;
		column-gap: 28px;
		width: 93.75%;
	}
}

@media (max-width: 640px) {
	.place__grid {
		width: 100%;
		grid-template-columns: 340px;
		row-gap: 32px;
		justify-content: center;
	}
}

@media (max-width: 400px) {
	.place__grid {
		grid-template-columns: 1fr;
	}
}