.place__grid {
	width: 76.88%;
	display: grid;
	grid-template-areas:
		"title website"
		"image paragraphs";
	grid-auto-flow: row;
	column-gap: 40px;
	row-gap: 48px;
}

@media (max-width: 1024px) {
	.place__grid {
		column-gap: 32px;
		width: 90.625%;
	}
}

@media (max-width: 768px) {
	.place__grid {
		column-gap: 28px;
		width: 93.75%;
	}
}

@media (max-width: 607px) {
	.place__grid {
		grid-template-areas:
			"title"
			"website"
			"image"
			"paragraphs";
		row-gap: 32px;
		justify-content: center;
	}
}

@media (max-width: 400px) {
	.place__grid {
		row-gap: 32px;
		width: 100%;
		justify-content: start;
	}
}