.lead__path {
	position: absolute;
	top: 12.41%;
	left: 2.365%;
	width: 95.234%;

}

@media (max-width: 768px) {
	.lead__path {
		top: 11.794%;
	}
}


@media (max-width: 768px) {
	.lead__path {
		top: 10.56%;
	}
}