.place {
	display: grid;
	row-gap: 80px;
	padding-bottom: 92px;
}

@media (max-width: 768px) {
	.place {
		row-gap: 73px;
		padding-bottom: 90px;
	}
}

@media (max-width: 320px) {
	.place {
		row-gap: 50px;
		padding-bottom: 66px;
	}
}